* {
    padding: 0;
    margin: 0;
}


.xx {

	position: relative;
    width: 45.55px;
    height: 45.55px;
    top: 4%;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../picture/x.png);
    background-position: center;
    background-size: contain;
}

#g {
	
	position: absolute;
    width: 100vw;
    height: 100vh;
    background: #4E95FF;
    top: 0;
    background-image: url(../picture/bp.png);
     background-position: center;
    background-size: contain;
    

        position: fixed;
     top: 100vh;
    left: 0;
     transition: top 1s;
}

#g h1{
   font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
    color: white;
    position: relative;
    float: left;

}

#g h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 11%;
    color: white;
    position: relative;
    margin-bottom: 42%;
}

#g h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    margin-top: 10px;
    /* margin-left: 30px; */
    color: white;
    position: relative;
    margin-right: 8%;
}






#l {
    position: relative;
    width: 335px;
    height: 44px;
    top: 23%;
    display: block;
    background: #4E19C0;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

#l h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 47px;
    text-align: center;
    color: white;
    position: relative;

}

#g h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 47px;
    text-align: center;
    color: white;
    position: relative;
    top: 2%;
}



input.what {
    background-color: transparent;
   
    width: 85%;
    height: 20px;
    border: none;
    border-bottom: 2px solid white;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
  }

 input.how {
    top: 2px;
    width: 85%;
    height: 20px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    background-color: transparent;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid white;

  }

#warning {
    position: fixed;
    top: 240px;
    left: 25%;
    width: 50%;
    height: 70px;
    background-color: pink;
    display: none;
}

#warning p {
 font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    /* margin-left: 30px; */
    color: black;
    position: relative;
   
}

#warning2 {
    position: fixed;
    top: 240px;
    left: 25%;
    width: 50%;
    height: 70px;
    background-color: pink;
    display: none;
}

#warning2 p {
 font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    /* margin-left: 30px; */
    color: black;
    position: relative;
   
}

#warning3 {
    position: fixed;
    top: 240px;
    left: 25%;
    width: 50%;
    height: 70px;
    background-color: pink;
    display: none;
}

#warning3 p {
 font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    /* margin-left: 30px; */
    color: black;
    position: relative;
   
}

button {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background-color: none;
}





















